- console.log(paginate);
if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  nav
    ul.pagination
      li.page-skin(class=`${paginate.hasPreviousPages ? "" : "disabled"}`)
        a.page-link(href=paginate.href(true)) &laquo;
      each page in pages
        li.page-skin(class=`${paginate.page == page ? "active" : ""}`)
          a.page-link(href=page.url)= page.number
      li.page-skin(class=`${paginate.hasNextPages(pageCount) ? "" : "disabled"}`)
        a.page-link(href=paginate.href()) Next
