doctype html
html
  head
    title= `${title} | Steam Market Analyser`
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.min.css')
    
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/chart.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js')
    script(src="https://kit.fontawesome.com/8290fa2df8.js" crossorigin="anonymous")

    script.
      $(document).ready(() => {
        $('#searchField').selectize({
          valueField: 'title',
          labelField: 'title',
          searchField: 'title',
          options: [],
          create: false,
          render: {
            option: (item, escape) => {
              console.log(item);
              console.log(escape);
            }
          },
          load: (query, callback) => {
            if (!query.length) return callback();
            $.ajax({
                url: `/skins/search/${query}`,
                type: 'GET',
                dataType: 'texh/html',
                cache: false,
                error: () => {
                    console.log('err');
                    callback();
                },
                success: (res) => {
                    console.log(res);
                    callback(res);
                }
            });
          }
        });
      });
      
  body 
    nav.navbar.navbar-dark.bg-dark.navbar-expand-lg
      a.navbar-brand(href='/skins') Steam Market Analyser
        if (navbar.NODE_ENV != 'production')
          span  | 
          span(style="font-size:0.9rem")= navbar.NODE_ENV
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
        
      .collapse.navbar-collapse#navbarNavDropdown
        ul.navbar-nav
          each navItems, navIndex in navbar
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')= navIndex[0].toUpperCase() + navIndex.slice(1)
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                each navItem in navItems
                  a.dropdown-item(href=`/items/${navItem.id}`)= navItem.name
          li.nav-item
            a.nav-link(href='/items/unassaigned') Unassaigned
          li.nav-item
            a.nav-link(href='/inventory') Inventory
      form.form-inline.my-2.my-lg-0
        input#searchField.form-control.mr-sm-2(type="search" placeholder="Search..." aria-label="Search" autocomplete='off')
        
      
    block content
